<!DOCTYPE html>
<html>
<head>
    <title>Gallery</title>
    <meta charset="utf-8">
    <meta name="description" content="andrey gallery">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" media="screen" href="styles/styles.css" type="text/css" />
</head>

<body>
<script data-main="scripts/main.js" src="scripts/vendor/requirejs/require.js"></script>


<div class="container">
    <h1>Andrey Gallery</h1>

    <div id="albums_list">
        <!--<div class="media">-->
            <!--<div class="media-left">-->
                <!--<a href="#">-->
                    <!--<img class="media-object" src="..." alt="...">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
                <!--<h4 class="media-heading">Media heading</h4>-->
                <!--text-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="media">-->
            <!--<div class="media-left">-->
                <!--<a href="#">-->
                    <!--<img class="media-object" src="..." alt="...">-->
                <!--</a>-->
            <!--</div>-->
            <!--<div class="media-body">-->
                <!--<h4 class="media-heading">Media heading</h4>-->
                <!--text-->
            <!--</div>-->
        <!--</div>-->
    </div>


    <div id="album_content">
        <!--<img src="..." alt="..." class="img-thumbnail">-->
        <!--<img src="..." alt="..." class="img-thumbnail">-->
        <!--<img src="..." alt="..." class="img-thumbnail">-->

    </div>

</div><!-- /.container -->

<script type="text/template" id="albums_list-template">
    <h1>Albums</h1>
    <div></div>
</script>

<script type="text/template" id="album-template">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="<%= url >" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading"><%= name ></h4>
            text
        </div>
    </div>
</script>

<script type="text/template" id="albums_content-template">
    <img src="..." alt="..." class="img-thumbnail">
</script>




</body>
</html>
